@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
	font-family: 'Registration Number';
	src: url('../assets/fonts/gl-nummernschild-font/GlNummernschildMtl-LrZZ.ttf');
}

/* ==================== MAIN ==================== */

:root {
	font-family: 'PT Sans', 'Segoe UI', sans-serif;
	font-size: 16px;
}

body {
	background-color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

/* ==================== FORM ==================== */

#form-container {
	font-size: 2em;

	background-color: white;

	border: 4px solid black;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
}

#form-container label {
	display: flex;
	flex-direction: column;
}

#form-container label input {
	text-align: center;

	margin: 10px 0;
}

#form-container label button {
	margin: auto;
}

/* ==================== REGISTRATION NUMBER PLATES ==================== */

#reg-num-container {
	list-style: none;

	padding: 0;
	margin: 0;
}

#reg-num-container li {
	padding: 0;
	margin: 20px;
}

.plate {
	font-size: 4em;
	font-family: 'Registration Number', 'PT Sans', 'Segoe UI', sans-serif;

	background-color: lightgrey;

	display: flex;
	justify-content: center;

	width: 300px;
	border: 5px solid black;
	border-radius: 15px;
	/* padding: 0 10px; */
}

/* ==================== LAYOUT GUIDES ==================== */
/*
* {
	outline: 1px solid magenta;
}

:root,
html,
body {
	outline: none;
}

form {
	outline: 1px solid blue;
}

ul {
	outline: 1px solid green;
}

li {
	outline: 1px solid yellow;
}

.plate {
	outline: 1px solid cyan;
}