@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
	font-family: 'Registration Number';
	src: url('../assets/fonts/gl-nummernschild-font/GlNummernschildMtl-LrZZ.ttf');
}

/* ==================== MAIN ==================== */

:root {
	--bg-color: #ffff;
	--ol-color: #000f;

	--ibg-color: #fff0;
	--iol-color: #0000;

	--obg-color: #ffff;
	--ool-color: #000f;

	--plate-gradient: linear-gradient(#ddd, #aaa);
	/* --plate-gradient: linear-gradient(#d3d3d3, #d3d3d3); */

	font-family: 'PT Sans', 'Segoe UI', sans-serif;
	font-size: 16px;
}

body {
	background-image: url('../assets/images/2020-tesla-roadster.png');
	background-size: cover;
	background-position: left;

	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100vh;
	padding: 20px;
}

/* ==================== INPUT FORM ==================== */

#form-container {
	font-size: 2rem;

	background-color: var(--bg-color);
	border: 2px solid var(--ol-color);

	height: auto;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
}

#form-container label {
	display: flex;
	flex-direction: column;
}

#form-container label input {
	text-align: center;

	margin: 10px 0;
}

#form-container label button {
	padding: 0 10px;
	margin: auto;
}

/* ==================== REGISTRATION NUMBER DISPLAY ==================== */

#display-container {
	background-color: var(--obg-color);
	border: 2px solid var(--ool-color);

	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 20px;
}

/* ==================== VALIDATION/ERROR MESSAGES ==================== */

#message-container {
	font-size: 1.5rem;

	background-color: var(--bg-color);
	border: 2px solid var(--ol-color);
	box-shadow: 0 2px 10px black;

	z-index: -1;

	border-radius: 10px;
	padding: 6px 10px;
	margin-bottom: 20px;
}

.hidden {
	display: none !important;
}

.red {
	background-color: #f88 !important;
	border: 2px solid #f00 !important;
}

.orange {
	background-color: #fd8 !important;
	border: 2px solid #fa0 !important;
}

.green {
	background-color: #8f8 !important;
	border: 2px solid #0c0 !important;
}

/* ==================== FILTER FORM ==================== */

#filter-container {
	font-size: 1.2em;

	background-color: var(--ibg-color);
	border: 2px solid var(--iol-color);

	justify-content: center;
	align-items: center;

	padding: 10px 0;
	border-radius: 10px;
}

/* ==================== REGISTRATION NUMBER PLATES ==================== */

#reg-num-container {
	background-color: var(--ibg-color);
	border: 2px solid var(--iol-color);

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;

	width: 330px;
	/* width: auto; */
	min-width: 330px;
	max-width: 990px;
	max-height: calc(100vh - 360px);
	padding: 0;
	margin: 0;
	border-radius: 20px;

	resize: horizontal;
	overflow: auto;
	list-style: none;
}

#reg-num-container li {
	padding: 0;
	margin: 10px;
}

.plate {
	font-size: 4rem;
	font-family: 'Registration Number', 'PT Sans', 'Segoe UI', sans-serif;

	background-image: var(--plate-gradient);

	display: flex;
	justify-content: center;

	height: 73px;
	width: 300px;
	border: 5px solid black;
	border-radius: 15px;
}

/* ==================== ANIMATIONS ==================== */

/* ==================== RESPONSIVENESS ==================== */

/* ==================== LAYOUT GUIDES ==================== */
/*
* {
	outline: 1px solid magenta;
}

:root,
html,
body {
	outline: 1px solid black;
}

form {
	outline: 1px solid blue;
}

ul {
	outline: 1px solid green;
}

li {
	outline: 1px solid yellow;
}

.plate {
	outline: 1px solid cyan;
}

/* order of properties

element {
	font

	color

	flow

	shape

	misc
}